.footer_wrapper{
    color: white;
    .footer_about{
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
    }
}